{% extends 'hrm.html.twig' %}

{% block title %}Tipo de Elemento de Dotacion {% endblock %}

{% block body %}
    <h1>Tipo de Elemento de Dotacion</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Abreviación</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_elemento_dotacion in tipo_elemento_dotacions %}
            <tr>
                <td>{{ tipo_elemento_dotacion.id }}</td>
                <td>{{ tipo_elemento_dotacion.nombre }}</td>
                <td>{{ tipo_elemento_dotacion.descripcion }}</td>
                <td>{{ tipo_elemento_dotacion.abreviacion }}</td>
                <td>{{ tipo_elemento_dotacion.orden }}</td>
                <td>{{ tipo_elemento_dotacion.activo ? 'Sí' : 'No' }}</td>
                <td>
                    <a href="{{ path('tipo_elemento_dotacion_show', {'id': tipo_elemento_dotacion.id}) }}">Ver</a>
                    <a href="{{ path('tipo_elemento_dotacion_edit', {'id': tipo_elemento_dotacion.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">¡Oops! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_elemento_dotacion_new') }}">Crear nuevo</a>
{% endblock %}
