{% extends 'hrm.html.twig' %}

{% block title %}TipoElementoDotacion index{% endblock %}

{% block body %}
    <h1>TipoElementoDotacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Abreviacion</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_elemento_dotacion in tipo_elemento_dotacions %}
            <tr>
                <td>{{ tipo_elemento_dotacion.id }}</td>
                <td>{{ tipo_elemento_dotacion.nombre }}</td>
                <td>{{ tipo_elemento_dotacion.descripcion }}</td>
                <td>{{ tipo_elemento_dotacion.abreviacion }}</td>
                <td>{{ tipo_elemento_dotacion.orden }}</td>
                <td>{{ tipo_elemento_dotacion.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tipo_elemento_dotacion_show', {'id': tipo_elemento_dotacion.id}) }}">show</a>
                    <a href="{{ path('tipo_elemento_dotacion_edit', {'id': tipo_elemento_dotacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_elemento_dotacion_new') }}">Create new</a>
{% endblock %}
