<h3>Personas</h3>
<div class="persona">
    {# iterate over each existing tag and render its only field: name #}
    <div>{{ form_row(form.persona.primerNombre) }}</div>
    <div>{{ form_row(form.persona.otroNombre) }}</div>
    <div>{{ form_row(form.persona.primerNombre) }}</div>
    <div>{{ form_row(form.persona.otroNombre) }}</div>
    <div>{{ form_row(form.persona.primerApellido) }}</div>
    <div>{{ form_row(form.persona.segundoApellido) }}</div>
    <div>{{ form_row(form.persona.fechaNacimiento) }}</div>
    <div>{{ form_row(form.persona.lugarNacimiento) }}</div>
    <div>{{ form_row(form.persona.tipoDocumento) }}</div>
    <div>{{ form_row(form.persona.numeroDocumento) }}</div>
    <div>{{ form_row(form.persona.fechaExpedicionDocumento) }}</div>
    <div>{{ form_row(form.persona.lugarExpedicionDocumento) }}</div>
    <div>{{ form_row(form.persona.tipoSangre) }}</div>
    <div>{{ form_row(form.persona.telefonoFijo) }}</div>
    <div>{{ form_row(form.persona.telefonoMovil1) }}</div>
    <div>{{ form_row(form.persona.telefonoMovil2) }}</div>
    <div>{{ form_row(form.persona.correoElectronico1) }}</div>
    <div>{{ form_row(form.persona.correoElectronico2) }}</div>
    <div>{{ form_row(form.persona.idEstadoCivil) }}</div>
    <div>{{ form_row(form.persona.idProcesoGestionIntegral) }}</div>
    <div>{{ form_row(form.persona.idGenero) }}</div>
    <div>{{ form_row(form.persona.activo) }}</div>
</div>
