{% extends 'hrm.html.twig' %}

{% block title %}TipoContrato index{% endblock %}

{% block body %}
    <h1>TipoContrato index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Abreviacion</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_contrato in tipo_contratos %}
            <tr>
                <td>{{ tipo_contrato.id }}</td>
                <td>{{ tipo_contrato.nombre }}</td>
                <td>{{ tipo_contrato.descripcion }}</td>
                <td>{{ tipo_contrato.abreviacion }}</td>
                <td>{{ tipo_contrato.orden }}</td>
                <td>{{ tipo_contrato.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tipo_contrato_show', {'id': tipo_contrato.id}) }}">show</a>
                    <a href="{{ path('tipo_contrato_edit', {'id': tipo_contrato.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_contrato_new') }}">Create new</a>
{% endblock %}
