{% extends 'hrm.html.twig' %}

{% block title %}Educacion Basica Media {% endblock %}

{% block body %}
    <h1>Educacion Basica Media</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ultimo Grado Aprobado</th>
                <th>Titulo Obtenido</th>
                <th>Fecha Grado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for educacion_basica_media in educacion_basica_media %}
            <tr>
                <td>{{ educacion_basica_media.id }}</td>
                <td>{{ educacion_basica_media.ultimoGradoAprobado }}</td>
                <td>{{ educacion_basica_media.tituloObtenido }}</td>
                <td>{{ educacion_basica_media.fechaGrado ? educacion_basica_media.fechaGrado|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('educacion_basica_media_show', {'id': educacion_basica_media.id}) }}">Ver</a>
                    <a href="{{ path('educacion_basica_media_edit', {'id': educacion_basica_media.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('educacion_basica_media_new') }}">Nuevo</a>
{% endblock %}
