{% extends 'hrm.html.twig' %}

{% block title %}Educacion Basica Media{% endblock %}

{% block body %}
    <h1>Educacion Basica Media</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ educacion_basica_media.id }}</td>
            </tr>
            <tr>
                <th>Ultimo Grado Aprobado</th>
                <td>{{ educacion_basica_media.ultimoGradoAprobado }}</td>
            </tr>
            <tr>
                <th>Titulo Obtenido</th>
                <td>{{ educacion_basica_media.tituloObtenido }}</td>
            </tr>
            <tr>
                <th>Fecha Grado</th>
                <td>{{ educacion_basica_media.fechaGrado ? educacion_basica_media.fechaGrado|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('educacion_basica_media_index') }}">Volver a la lista</a>

    <a href="{{ path('educacion_basica_media_edit', {'id': educacion_basica_media.id}) }}">Editar</a>

    {{ include('educacion_basica_media/_delete_form.html.twig') }}
{% endblock %}
