{% extends 'hrm.html.twig' %}

{% block title %}Cargo index{% endblock %}

{% block body %}
    <h1>Lista de Cargos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Abreviación</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cargo in cargos %}
            <tr>
                <td>{{ cargo.id }}</td>
                <td>{{ cargo.nombre }}</td>
                <td>{{ cargo.descripcion }}</td>
                <td>{{ cargo.abreviacion }}</td>
                <td>{{ cargo.orden }}</td>
                <td>{{ cargo.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('cargo_show', {'id': cargo.id}) }}">mostrar</a>
                    <a href="{{ path('cargo_edit', {'id': cargo.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cargo_new') }}">Crear nuevo</a>
{% endblock %}
