{% extends 'hrm.html.twig' %}

{% block title %}Otrosi index{% endblock %}

{% block body %}
    <h1>Otrosi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaInicio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for otrosi in otrosis %}
            <tr>
                <td>{{ otrosi.id }}</td>
                <td>{{ otrosi.fechaInicio ? otrosi.fechaInicio|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('otrosi_show', {'id': otrosi.id}) }}">show</a>
                    <a href="{{ path('otrosi_edit', {'id': otrosi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('otrosi_new') }}">Create new</a>
{% endblock %}
