{% extends 'hrm.html.twig' %}

{% block title %}Listado de Otro Si{% endblock %}

{% block body %}
    <h1>Listado de Otro Si</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de Inicio</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for otrosi in otrosis %}
            <tr>
                <td>{{ otrosi.id }}</td>
                <td>{{ otrosi.fechaInicio ? otrosi.fechaInicio|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('otrosi_show', {'id': otrosi.id}) }}">Ver</a>
                    <a href="{{ path('otrosi_edit', {'id': otrosi.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">¡Oops! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('otrosi_new') }}">Nuevo</a>
{% endblock %}
