{% extends 'hrm.html.twig' %}

{% block title %}Otro Si{% endblock %}

{% block body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Otro Si</h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <tbody>
                         <tr>
                            <th>Id</th>
                            <td>{{ otrosi.id }}</td>
                        </tr>
                        <tr>
                            <th>Fecha Inicio</th>
                            <td>{{ otrosi.fechaInicio ? otrosi.fechaInicio|date('d-m-Y') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="{{ path('otrosi_index') }}" class="btn btn-block btn-lg btn-success waves-effect">Volver a la lista</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="{{ path('otrosi_edit', {'id': otrosi.id}) }}" class="btn btn-block btn-lg btn-primary waves-effect">Editar</a>
    </div>
</div>

{{ include('otrosi/_delete_form.html.twig') }}
<br>
{% endblock %}
