{% extends 'hrm.html.twig' %}

{% block title %}TituloEducacionContinuada index{% endblock %}

{% block body %}
    <h1>TituloEducacionContinuada index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Horas</th>
                <th>Abreviacion</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for titulo_educacion_continuada in titulo_educacion_continuadas %}
            <tr>
                <td>{{ titulo_educacion_continuada.id }}</td>
                <td>{{ titulo_educacion_continuada.nombre }}</td>
                <td>{{ titulo_educacion_continuada.descripcion }}</td>
                <td>{{ titulo_educacion_continuada.horas }}</td>
                <td>{{ titulo_educacion_continuada.abreviacion }}</td>
                <td>{{ titulo_educacion_continuada.orden }}</td>
                <td>{{ titulo_educacion_continuada.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('titulo_educacion_continuada_show', {'id': titulo_educacion_continuada.id}) }}">show</a>
                    <a href="{{ path('titulo_educacion_continuada_edit', {'id': titulo_educacion_continuada.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('titulo_educacion_continuada_new') }}">Create new</a>
{% endblock %}
