{% extends 'hrm.html.twig' %}

{% block title %}Listado de Personas{% endblock %}

{% block body %}
    <h1>Listado de Personas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primer Nombre</th>
                <th>Otro Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Lugar Nacimiento</th>
                <th>Tipo Documento</th>
                <th>Numero Documento</th>
                <th>Fecha Expedición Documento</th>
                <th>Lugar Expedicion Documento</th>
                <th>Tipo Sangre</th>
                <th>Telefono Fijo</th>
                <th>Telefono Movil 1</th>
                <th>Telefono Movil 2</th>
                <th>Correo Electronico 1</th>
                <th>Correo Electronico 2</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.id }}</td>
                <td>{{ persona.primerNombre }}</td>
                <td>{{ persona.otroNombre }}</td>
                <td>{{ persona.primerApellido }}</td>
                <td>{{ persona.segundoApellido }}</td>
                <td>{{ persona.fechaNacimiento ? persona.fechaNacimiento|date('d-m-Y') : '' }}</td>
                <td>{{ persona.lugarNacimiento }}</td>
                <td>{{ persona.tipoDocumento }}</td>
                <td>{{ persona.numeroDocumento }}</td>
                <td>{{ persona.fechaExpedicionDocumento ? persona.fechaExpedicionDocumento|date('d-m-Y') : '' }}</td>
                <td>{{ persona.lugarExpedicionDocumento }}</td>
                <td>{{ persona.tipoSangre }}</td>
                <td>{{ persona.telefonoFijo }}</td>
                <td>{{ persona.telefonoMovil1 }}</td>
                <td>{{ persona.telefonoMovil2 }}</td>
                <td>{{ persona.correoElectronico1 }}</td>
                <td>{{ persona.correoElectronico2 }}</td>
                <td>{{ persona.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('persona_show', {'id': persona.id}) }}">Ver</a>
                    <a href="{{ path('persona_edit', {'id': persona.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">¡Oops! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('persona_new') }}">Crear Nuevo</a>
{% endblock %}
