{% extends 'hrm.html.twig' %}

{% block title %}Entidad{% endblock %}

{% block body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Entidad
                   
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Abreviación</th>
                            <th>Orden</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entidad in entidads %}           
                        <tr>
                            <tr>
                                <td>{{ entidad.id }}</td>
                                <td>{{ entidad.nombre }}</td>
                                <td>{{ entidad.descripcion }}</td>
                                <td>{{ entidad.abreviacion }}</td>
                                <td>{{ entidad.orden }}</td>
                                <td>{{ entidad.activo ? 'Sí' : 'No' }}</td>
                                <td>
                                    <a href="{{ path('entidad_show', {'id': entidad.id}) }}">Ver</a>
                                    <a href="{{ path('entidad_edit', {'id': entidad.id}) }}">Editar</a>
                                </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="18">!Oops! no encontramos nada que mostrarte</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="{{ path('entidad_new') }}" class="btn btn-block btn-lg btn-primary waves-effect">Crear Nuevo</a>
    </div>
</div>
{% endblock %}
