
{% extends 'hrm.html.twig' %}

{% block title %}Entidad {% endblock %}

{% block body %}
    <h1>Entidad</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Abreviación</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entidad in entidads %}
            <tr>
                <td>{{ entidad.id }}</td>
                <td>{{ entidad.nombre }}</td>
                <td>{{ entidad.descripcion }}</td>
                <td>{{ entidad.abreviacion }}</td>
                <td>{{ entidad.orden }}</td>
                <td>{{ entidad.activo ? 'Sí' : 'No' }}</td>
                <td>
                    <a href="{{ path('entidad_show', {'id': entidad.id}) }}">Ver</a>
                    <a href="{{ path('entidad_edit', {'id': entidad.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">¡Oops! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entidad_new') }}">Crear nuevo</a>
{% endblock %}
