{% extends 'hrm.html.twig' %}

{% block title %}Proceso de Gestion Integral {% endblock %}

{% block body %}
    <h1>Proceso de Gestion Integral</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Abreviación</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for proceso_gestion_integral in proceso_gestion_integrals %}
            <tr>
                <td>{{ proceso_gestion_integral.id }}</td>
                <td>{{ proceso_gestion_integral.nombre }}</td>
                <td>{{ proceso_gestion_integral.descripcion }}</td>
                <td>{{ proceso_gestion_integral.abreviacion }}</td>
                <td>{{ proceso_gestion_integral.orden }}</td>
                <td>{{ proceso_gestion_integral.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('proceso_gestion_integral_show', {'id': proceso_gestion_integral.id}) }}">Ver</a>
                    <a href="{{ path('proceso_gestion_integral_edit', {'id': proceso_gestion_integral.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('proceso_gestion_integral_new') }}">Nuevo</a>
{% endblock %}
