{% extends 'hrm.html.twig' %}

{% block title %}Educacion Continuada{% endblock %}

{% block body %}
    <h1>Educacion Continuada</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ educacion_continuada.id }}</td>
            </tr>
            <tr>
                <th>Fecha Terminacion</th>
                <td>{{ educacion_continuada.fechaTerminacion ? educacion_continuada.fechaTerminacion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha Vencimiento</th>
                <td>{{ educacion_continuada.fechaVencimiento ? educacion_continuada.fechaVencimiento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('educacion_continuada_index') }}">Volver a la Lista</a>

    <a href="{{ path('educacion_continuada_edit', {'id': educacion_continuada.id}) }}">Editar</a>

    {{ include('educacion_continuada/_delete_form.html.twig') }}
{% endblock %}
