{% extends 'hrm.html.twig' %}

{% block title %}Tipo de Programa del ExamenMedico {% endblock %}

{% block body %}
    <h1>Tipo de Programa del Examen Medico</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Abreviación</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_programa_examen_medico in tipo_programa_examen_medicos %}
            <tr>
                <td>{{ tipo_programa_examen_medico.id }}</td>
                <td>{{ tipo_programa_examen_medico.nombre }}</td>
                <td>{{ tipo_programa_examen_medico.descripcion }}</td>
                <td>{{ tipo_programa_examen_medico.abreviacion }}</td>
                <td>{{ tipo_programa_examen_medico.orden }}</td>
                <td>{{ tipo_programa_examen_medico.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tipo_programa_examen_medico_show', {'id': tipo_programa_examen_medico.id}) }}">Ver</a>
                    <a href="{{ path('tipo_programa_examen_medico_edit', {'id': tipo_programa_examen_medico.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">¡Oops! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_programa_examen_medico_new') }}">Nuevo</a>
{% endblock %}
