{% extends 'hrm.html.twig' %}

{% block title %}Registro de Vacuna{% endblock %}

{% block body %}
    <h1>Registro de Vacuna</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ registro_vacuna.id }}</td>
            </tr>
            <tr>
                <th>Fecha de Dosis</th>
                <td>{{ registro_vacuna.fechaDosis ? registro_vacuna.fechaDosis|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de Vencimiento de la Dosis</th>
                <td>{{ registro_vacuna.fechaVencimientoDosis }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ registro_vacuna.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('registro_vacuna_index') }}">Volver a la lista</a>

    <a href="{{ path('registro_vacuna_edit', {'id': registro_vacuna.id}) }}">Editar</a>

    {{ include('registro_vacuna/_delete_form.html.twig') }}
{% endblock %}
