{% extends 'hrm.html.twig' %}

{% block title %}EducacionSuperior index{% endblock %}

{% block body %}
    <h1>EducacionSuperior index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroSemestreAprobados</th>
                <th>Graduado</th>
                <th>FechaGrado</th>
                <th>FechaExpedicionTarjetaProfesional</th>
                <th>FechaVencimientoTarjetaProfesional</th>
                <th>NumeroTarjetaProfesional</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for educacion_superior in educacion_superiors %}
            <tr>
                <td>{{ educacion_superior.id }}</td>
                <td>{{ educacion_superior.numeroSemestreAprobados }}</td>
                <td>{{ educacion_superior.graduado ? 'Yes' : 'No' }}</td>
                <td>{{ educacion_superior.fechaGrado ? educacion_superior.fechaGrado|date('Y-m-d') : '' }}</td>
                <td>{{ educacion_superior.fechaExpedicionTarjetaProfesional ? educacion_superior.fechaExpedicionTarjetaProfesional|date('Y-m-d') : '' }}</td>
                <td>{{ educacion_superior.fechaVencimientoTarjetaProfesional ? educacion_superior.fechaVencimientoTarjetaProfesional|date('Y-m-d') : '' }}</td>
                <td>{{ educacion_superior.numeroTarjetaProfesional }}</td>
                <td>
                    <a href="{{ path('educacion_superior_show', {'id': educacion_superior.id}) }}">show</a>
                    <a href="{{ path('educacion_superior_edit', {'id': educacion_superior.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('educacion_superior_new') }}">Create new</a>
{% endblock %}
