{% extends 'hrm.html.twig' %}

{% block title %}Educacion Superior{% endblock %}

{% block body %}
    <h1>Educacion Superior</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ educacion_superior.id }}</td>
            </tr>
            <tr>
                <th>Numero de Semestres Aprobados</th>
                <td>{{ educacion_superior.numeroSemestreAprobados }}</td>
            </tr>
            <tr>
                <th>Graduado</th>
                <td>{{ educacion_superior.graduado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fecha de Grado</th>
                <td>{{ educacion_superior.fechaGrado ? educacion_superior.fechaGrado|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de Expedicion de la Tarjeta Profesional</th>
                <td>{{ educacion_superior.fechaExpedicionTarjetaProfesional ? educacion_superior.fechaExpedicionTarjetaProfesional|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de Vencimiento de la Tarjeta Profesional</th>
                <td>{{ educacion_superior.fechaVencimientoTarjetaProfesional ? educacion_superior.fechaVencimientoTarjetaProfesional|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Numero Tarjeta Profesional</th>
                <td>{{ educacion_superior.numeroTarjetaProfesional }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('educacion_superior_index') }}">Volver a la Lista</a>

    <a href="{{ path('educacion_superior_edit', {'id': educacion_superior.id}) }}">Editar</a>

    {{ include('educacion_superior/_delete_form.html.twig') }}
{% endblock %}
