{# templates/form/fields.html.twig #}
{% block form_row %}
{% spaceless %}
    {# {{ dump(_context|keys) }} #}
    {# {{ dump(block_prefixes) }} #}
    <div class="form-group form-float">
        <div class="form-line">
            {% if block_prefixes[1] == 'checkbox' %}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                {{ form_label(form) }}
            {% else %}
                {{ form_label(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}