{% extends 'hrm.html.twig' %}

{% block title %}TipoEntidad index{% endblock %}

{% block body %}
    <h1>TipoEntidad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Abreviación</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_entidad in tipo_entidads %}
            <tr>
                <td>{{ tipo_entidad.id }}</td>
                <td>{{ tipo_entidad.nombre }}</td>
                <td>{{ tipo_entidad.descripcion }}</td>
                <td>{{ tipo_entidad.abreviacion }}</td>
                <td>{{ tipo_entidad.orden }}</td>
                <td>{{ tipo_entidad.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tipo_entidad_show', {'id': tipo_entidad.id}) }}">show</a>
                    <a href="{{ path('tipo_entidad_edit', {'id': tipo_entidad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_entidad_new') }}">Create new</a>
{% endblock %}
