{% extends 'hrm.html.twig' %}

{% block title %}Talla Dotacion {% endblock %}

{% block body %}
    <h1>Talla Dotacion</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Unidades</th>
                <th>Fecha de Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for talla_dotacion in talla_dotacions %}
            <tr>
                <td>{{ talla_dotacion.id }}</td>
                <td>{{ talla_dotacion.numero }}</td>
                <td>{{ talla_dotacion.unidades }}</td>
                <td>{{ talla_dotacion.fechaRegistro ? talla_dotacion.fechaRegistro|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('talla_dotacion_show', {'id': talla_dotacion.id}) }}">Ver</a>
                    <a href="{{ path('talla_dotacion_edit', {'id': talla_dotacion.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">¡Oops! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('talla_dotacion_new') }}">Crear nuevo</a>
{% endblock %}
