{% extends 'hrm.html.twig' %}

{% block title %}Talla de Dotacion{% endblock %}

{% block body %}
    <h1>Talla de Dotacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ talla_dotacion.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ talla_dotacion.numero }}</td>
            </tr>
            <tr>
                <th>Unidades</th>
                <td>{{ talla_dotacion.unidades }}</td>
            </tr>
            <tr>
                <th>Fecha de Registro</th>
                <td>{{ talla_dotacion.fechaRegistro ? talla_dotacion.fechaRegistro|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('talla_dotacion_index') }}">Volver a la Lista</a>

    <a href="{{ path('talla_dotacion_edit', {'id': talla_dotacion.id}) }}">Editar</a>

    {{ include('talla_dotacion/_delete_form.html.twig') }}
{% endblock %}
