{% extends 'hrm.html.twig' %}

{% block title %}Vivienda index{% endblock %}

{% block body %}
    <h1>Vivienda index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Direccion</th>
                <th>Barrio</th>
                <th>Estrato</th>
                <th>Pais</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for vivienda in viviendas %}
            <tr>
                <td>{{ vivienda.id }}</td>
                <td>{{ vivienda.direccion }}</td>
                <td>{{ vivienda.barrio }}</td>
                <td>{{ vivienda.estrato }}</td>
                <td>{{ vivienda.pais }}</td>
                <td>{{ vivienda.departamento }}</td>
                <td>{{ vivienda.municipio }}</td>
                <td>
                    <a href="{{ path('vivienda_show', {'id': vivienda.id}) }}">show</a>
                    <a href="{{ path('vivienda_edit', {'id': vivienda.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vivienda_new') }}">Nuevo</a>
{% endblock %}
