{% extends 'hrm.html.twig' %}

{% block title %}Concepto Examen Medico{% endblock %}

{% block body %}
    <h1>Concepto Examen Medico</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Abreviacion</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concepto_examen_medico in concepto_examen_medicos %}
            <tr>
                <td>{{ concepto_examen_medico.id }}</td>
                <td>{{ concepto_examen_medico.nombre }}</td>
                <td>{{ concepto_examen_medico.descripcion }}</td>
                <td>{{ concepto_examen_medico.abreviacion }}</td>
                <td>{{ concepto_examen_medico.orden }}</td>
                <td>{{ concepto_examen_medico.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('concepto_examen_medico_show', {'id': concepto_examen_medico.id}) }}">Mostrar</a>
                    <a href="{{ path('concepto_examen_medico_edit', {'id': concepto_examen_medico.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('concepto_examen_medico_new') }}">Crear nuevo</a>
{% endblock %}
