{% extends 'hrm.html.twig' %}

{% block title %}Concepto Examen Medico{% endblock %}

{% block body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Concepto Examen Medico<small>Ayuda economica para que las persoans cumplan a bien su contrato </small>
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Abreviación</th>
                            <th>Orden</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for concepto_examen_medico in concepto_examen_medicos %}
                        <tr>
                            <td>{{ concepto_examen_medico.id }}</td>
                            <td>{{ concepto_examen_medico.nombre }}</td>
                            <td>{{ concepto_examen_medico.descripcion }}</td>
                            <td>{{ concepto_examen_medico.abreviacion }}</td>
                            <td>{{ concepto_examen_medico.orden }}</td>
                            <td>{{ concepto_examen_medico.activo ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('concepto_examen_medico_show', {'id': concepto_examen_medico.id}) }}">Mostrar</a>
                                <a href="{{ path('concepto_examen_medico_edit', {'id': concepto_examen_medico.id}) }}">Editar</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">¡Oops! no encontramos nada</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="{{ path('concepto_examen_medico_new') }}"class="btn btn-block btn-lg btn-primary waves-effect">Crear Nuevo</a>
    </div>
</div>
{% endblock %}
