{% extends 'hrm.html.twig' %}

{% block title %}Listado de Contratos {% endblock %}

{% block body %}
    <h1>Listado de Contratos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objeto</th>
                <th>Obra o Labor</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Ingreso</th>
                <th>Dias del Periodo Prueba</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for contrato in contratos %}
            <tr>
                <td>{{ contrato.id }}</td>
                <td>{{ contrato.objeto }}</td>
                <td>{{ contrato.obraOLabor }}</td>
                <td>{{ contrato.fechaInicio ? contrato.fechaInicio|date('d-m-Y') : '' }}</td>
                <td>{{ contrato.fechaFin ? contrato.fechaFin|date('d-m-Y') : '' }}</td>
                <td>{{ contrato.ingreso }}</td>
                <td>{{ contrato.diasPeriodoPrueba }}</td>
                <td>
                    <a href="{{ path('contrato_show', {'id': contrato.id}) }}">Ver </a>
                    <a href="{{ path('contrato_edit', {'id': contrato.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">¡Oops! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrato_new') }}">Crear Nuevo</a>
{% endblock %}
