{% extends 'hrm.html.twig' %}

{% block title %}EntregaElementoDotacion {% endblock %}

{% block body %}
    <h1>EntregaElementoDotacion</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaEntregaDotacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entrega_elemento_dotacion in entrega_elemento_dotacions %}
            <tr>
                <td>{{ entrega_elemento_dotacion.id }}</td>
                <td>{{ entrega_elemento_dotacion.fechaEntregaDotacion ? entrega_elemento_dotacion.fechaEntregaDotacion|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('entrega_elemento_dotacion_show', {'id': entrega_elemento_dotacion.id}) }}">Ver</a>
                    <a href="{{ path('entrega_elemento_dotacion_edit', {'id': entrega_elemento_dotacion.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entrega_elemento_dotacion_new') }}">Nuevo</a>
{% endblock %}
