{% extends 'hrm.html.twig' %}

{% block title %}Entrega del Elemento de Dotacion{% endblock %}

{% block body %}
    <h1>Entrega del Elemento de Dotacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrega_elemento_dotacion.id }}</td>
            </tr>
            <tr>
                <th>Fecha Entrega de Dotacion</th>
                <td>{{ entrega_elemento_dotacion.fechaEntregaDotacion ? entrega_elemento_dotacion.fechaEntregaDotacion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entrega_elemento_dotacion_index') }}">Volver a la Lista</a>

    <a href="{{ path('entrega_elemento_dotacion_edit', {'id': entrega_elemento_dotacion.id}) }}">Editar</a>

    {{ include('entrega_elemento_dotacion/_delete_form.html.twig') }}
{% endblock %}
