{% extends 'hrm.html.twig' %}

{% block title %}ProrrogaContrato index{% endblock %}

{% block body %}
    <h1>ProrrogaContrato index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaInicio</th>
                <th>FechaFin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for prorroga_contrato in prorroga_contratos %}
            <tr>
                <td>{{ prorroga_contrato.id }}</td>
                <td>{{ prorroga_contrato.fechaInicio ? prorroga_contrato.fechaInicio|date('Y-m-d') : '' }}</td>
                <td>{{ prorroga_contrato.fechaFin ? prorroga_contrato.fechaFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('prorroga_contrato_show', {'id': prorroga_contrato.id}) }}">show</a>
                    <a href="{{ path('prorroga_contrato_edit', {'id': prorroga_contrato.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">!Ups! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prorroga_contrato_new') }}">Nuevo</a>
{% endblock %}
