{% extends 'hrm.html.twig' %}

{% block title %}Prorroga de Contrato{% endblock %}

{% block body %}
    <h1>Prorroga de Contrato</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prorroga_contrato.id }}</td>
            </tr>
            <tr>
                <th>FechaInicio</th>
                <td>{{ prorroga_contrato.fechaInicio ? prorroga_contrato.fechaInicio|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFin</th>
                <td>{{ prorroga_contrato.fechaFin ? prorroga_contrato.fechaFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prorroga_contrato_index') }}">Volver a la Lista</a>

    <a href="{{ path('prorroga_contrato_edit', {'id': prorroga_contrato.id}) }}">Editar</a>

    {{ include('prorroga_contrato/_delete_form.html.twig') }}
{% endblock %}
