{% extends 'hrm.html.twig' %}

{% block title %}CuentaBancaria index{% endblock %}

{% block body %}
    <h1>CuentaBancaria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Tipo</th>
                <th>Principal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cuenta_bancarium in cuenta_bancarias %}
            <tr>
                <td>{{ cuenta_bancarium.id }}</td>
                <td>{{ cuenta_bancarium.numero }}</td>
                <td>{{ cuenta_bancarium.tipo }}</td>
                <td>{{ cuenta_bancarium.principal ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('cuenta_bancaria_show', {'id': cuenta_bancarium.id}) }}">show</a>
                    <a href="{{ path('cuenta_bancaria_edit', {'id': cuenta_bancarium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cuenta_bancaria_new') }}">Create new</a>
{% endblock %}
