{% extends 'base.html.twig' %}

{% block title %}ExamenMedico{% endblock %}

{% block body %}
    <h1>ExamenMedico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_medico.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ examen_medico.fecha ? examen_medico.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Recomendaciones</th>
                <td>{{ examen_medico.recomendaciones }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('examen_medico_index') }}">back to list</a>

    <a href="{{ path('examen_medico_edit', {'id': examen_medico.id}) }}">edit</a>

    {{ include('examen_medico/_delete_form.html.twig') }}
{% endblock %}
